.idea
*.iml
.terraform
terraform.tfstate.backup
*.pem
*.png
.DS_Store
provision/user-management/users.json
provision/server/*override.tf
cognito-users-mapped.json
node_modules
provision/user-management/cognito-users.json
provision/user-management/openchs-users.json
vars/*.tfvars
prod-user-pool.json
*-secret-vars.yml
