.idea
*.iml
.terraform
terraform.tfstate.backup
*.pem
*.png
.DS_Store
user-management/users.json
server/*override.tf
cognito-users-mapped.json
node_modules
user-management/cognito-users.json
user-management/openchs-users.json
vars/*.tfvars