JASPERREPORTS_DATABASE_TYPE={{ jasperserver_db_type }}
JASPERREPORTS_DATABASE_HOST={{ jasperserver_db_host }}
JASPERREPORTS_DATABASE_PORT_NUMBER={{ jasperserver_db_port }}
JASPERREPORTS_DATABASE_USER={{ jasperserver_db_user }}
JASPERREPORTS_DATABASE_NAME={{ jasperserver_db_name }}
JASPERREPORTS_DATABASE_PASSWORD={{ jasperserver_db_password }}

ALLOW_EMPTY_PASSWORD={{ jasperserver_allow_empty_password }}
JASPERREPORTS_USERNAME={{ jasperserver_username }}
JASPERREPORTS_PASSWORD={{ jasperserver_password }}
JASPERREPORTS_SKIP_BOOTSTRAP={{ jasperserver_skip_bootstrap }}
JASPERREPORTS_USE_ROOT_URL={{ jasperserver_use_root_url }}