export OPENCHS_DATABASE_URL={{db_url}}
export OPENCHS_DATABASE_USER={{db_user}}
export OPENCHS_DATABASE_PASSWORD={{db_password}}
export BUGSNAG_API_KEY={{bugsnag_api_key}}
export BUGSNAG_RELEASE_STAGE={{environment}}
