export OPENCHS_DATABASE_URL={{db_url}}
export OPENCHS_DATABASE_USER={{db_user}}
export OPENCHS_DATABASE_PASSWORD={{db_password}}
export BUGSNAG_API_KEY={{bugsnag_api_key}}
export BUGSNAG_RELEASE_STAGE={{bugsnag_stage}}

export OPENCHS_BUCKET_NAME={{etl_bucket_name}}
export OPENCHS_IAM_USER_ACCESS_KEY={{etl_bucket_access_key}}
export OPENCHS_IAM_USER_SECRET_ACCESS_KEY={{etl_bucket_access_secret_key}}

export OPENCHS_CLIENT_ID={{etl_cognito_client_id}}
export OPENCHS_USER_POOL={{etl_cognito_user_pool}}

export AVNI_SECURITY_ALLOWED_ORIGINS={{etl_allowed_origins}}