export OPENCHS_SERVER={{avni_server_host}}
export OPENCHS_SERVER_PORT={{avni_server_port}}
export OPENCHS_SERVER_OPTS='{{avni_server_opts}}'
export OPENCHS_DATABASE_HOST={{avni_server_db_host}}
export OPENCHS_DATABASE_PORT={{avni_server_db_port}}
export OPENCHS_DATABASE_USER={{avni_server_db_user}}
export OPENCHS_DATABASE_PASSWORD={{avni_server_db_password}}
export OPENCHS_DATABASE_SCHEMA={{avni_server_db_schema}}
export OPENCHS_DATABASE_URL="jdbc:postgresql://{{avni_server_db_host}}:{{avni_server_db_port}}/{{avni_server_db_user}}?currentSchema={{avni_server_db_schema}}"
export OPENCHS_USER_POOL={{avni_server_cognito_user_pool_id}}
export OPENCHS_CLIENT_ID={{avni_server_cognito_client_id}}
export OPENCHS_MODE={{avni_server_mode}}
export OPENCHS_SERVER_BUGSNAG_API_KEY={{avni_server_bugsnag_api_key}}
export OPENCHS_BUGSNAG_RELEASE_STAGE={{avni_server_bugsnag_release_stage}}
export OPENCHS_BUCKET_NAME={{avni_server_media_bucket_name}}
export OPENCHS_IAM_USER={{avni_server_iam_username}}
export OPENCHS_IAM_USER_ACCESS_KEY={{avni_server_iam_access_key}}
export OPENCHS_IAM_USER_SECRET_ACCESS_KEY={{avni_server_iam_secret_access_key}}
export OPENCHS_STATIC_PATH={{avni_server_static_content_path}}
export OPENCHS_MSG91_AUTHKEY_KEY={{avni_server_msg91_authkey}}
export OPENCHS_MINIO_ENABLED={{avni_server_minio_enabled}}
export OPENCHS_MINIO_URL={{avni_server_minio_url}}
export OPENCHS_MINIO_ACCESS_KEY={{avni_server_minio_access_key}}
export OPENCHS_MINIO_SECRET_ACCESS_KEY={{avni_server_minio_secret_access_key}}
export OPENCHS_KEYCLOAK_CLIENT_SECRET={{avni_server_keycloak_client_secret}}
export OPENCHS_KEYCLOAK_SERVER={{avni_server_keycloak_url}}
export OPENCHS_KEYCLOAK_ENABLED={{avni_server_keycloak_enabled}}
export OPENCHS_ACCESS_LOG_DIR={{avni_server_access_log_dir}}
export OPENCHS_CACHE_MAX_ENTRIES={{avni_server_cache_max_entries}}
export OPENCHS_CACHE_TTL_SECONDS={{avni_server_cache_ttl_seconds}}
export OPENCHS_CACHE_MAX_WEIGHT={{avni_server_cache_max_weight}}
export SHOW_SQL={{avni_server_show_sql}}
export AVNI_IDP_TYPE={{avni_server_idp_type}}
export AVNI_CSRF_ENABLED={{avni_csrf_enabled}}
export AVNI_WEB_VALIDHOSTS={{avni_web_validhosts}}
export OPENCHS_CSP_ENABLED={{openchs_csp_enabled}}
export OPENCHS_CSP_ALLOWED_HOSTS={{openchs_csp_allowed_hosts}}
export AVNI_ENHANCED_VALIDATION={{avni_enhanced_validation}}
export AVNI_BLACKLISTED_URLS_FILE={{avni_blacklisted_urls_file_path}}
export AVNI_SEND_EXCEPTION_IN_RESPONSE={{avni_send_exception_in_response}}
export AVNI_WEBAPP_TIMEOUT={{avni_webapp_timeout}}
export AVNI_ENDPOINT_END_OF_LIFE_1={{avni_endpoint_end_of_life_1}}
export AVNI_LEGACY_LONGITUDINAL_EXPORT_LIMIT={{avni_server_legacy_longitudinal_export_limit}}
export AVNI_REPORTING_SYSTEM_0_NAME="{{avni_reporting_system_0_name}}"
export AVNI_REPORTING_SYSTEM_0_URL={{avni_reporting_system_0_url}}
export AVNI_REPORTING_SYSTEM_1_NAME="{{avni_reporting_system_1_name}}"
export AVNI_REPORTING_SYSTEM_1_URL={{avni_reporting_system_1_url}}
export AVNI_REPORTING_SYSTEM_2_NAME="{{avni_reporting_system_2_name}}"
export AVNI_REPORTING_SYSTEM_2_URL={{avni_reporting_system_2_url}}
{% if avni_reporting_metabase_api_url is defined %}
export AVNI_REPORTING_METABASE_SELF_SERVICE_ENABLED={{avni_reporting_metabase_self_service_enabled}}
export METABASE_API_URL={{avni_reporting_metabase_api_url}}
export METABASE_API_KEY={{avni_reporting_metabase_api_key}}
export METABASE_DB_URL="{{metabase_db_url}}"
export METABASE_DB_USER="{{metabase_db_user}}"
export METABASE_DB_PASSWORD="{{metabase_db_password}}"
{% endif %}
export AVNI_ENVIRONMENT={{env}}
export AVNI_DEFAULT_ORG_USER_DB_PASSWORD="{{avni_default_org_user_db_password}}"
{% if avni_scheduled_job_storage_management_cron is defined %}
export AVNI_JOB_STORAGE_MANAGEMENT_CRON="{{avni_scheduled_job_storage_management_cron}}"
{% endif %}
export AVNI_MCP_SERVER_URL={{ avni_mcp_server_url }}
export AVNI_COPILOT_ENABLED={{ avni_copilot_enabled }}
export AVNI_COPILOT_TOKEN={{ avni_copilot_token }}
export AVNI_COPILOT_FORM_VALIDATION_API_KEY={{ avni_copilot_form_validation_api_key }}
export AVNI_BASE_URL={{ avni_base_url }}
export AVNI_SHOW_TEMPLATES={{ avni_show_templates }}
