globalSettings__baseServiceUri__vault=https://{{ bitwarden_domain }}
globalSettings__baseServiceUri__api=https://{{ bitwarden_domain }}/api
globalSettings__baseServiceUri__identity=https://{{ bitwarden_domain }}/identity
globalSettings__baseServiceUri__admin=https://{{ bitwarden_domain }}/admin
globalSettings__baseServiceUri__notifications=https://{{ bitwarden_domain }}/notifications
globalSettings__installation__id={{ bitwarden_installation_id }}
globalSettings__installation__key={{ bitwarden_installation_key }}
{% if bitwarden_smtp_host and bitwarden_smtp_host != '' %}
globalSettings__mail__smtp__host={{ bitwarden_smtp_host }}
globalSettings__mail__smtp__port=587
globalSettings__mail__smtp__ssl=false
globalSettings__mail__smtp__username={{ bitwarden_smtp_username }}
globalSettings__mail__smtp__password={{ bitwarden_smtp_password }}
globalSettings__mail__replyToEmail={{ bitwarden_smtp_username }}
{% else %}
globalSettings__mail__smtp__host=REPLACE
globalSettings__mail__smtp__port=587
globalSettings__mail__smtp__ssl=false
globalSettings__mail__smtp__username=REPLACE
globalSettings__mail__smtp__password=REPLACE
{% endif %}
adminSettings__admins={{ bitwarden_admin_email }}
globalSettings__enableCloudCommunication={{ bitwarden_enable_cloud_communication | lower }}
globalSettings__disableUserRegistration={{ bitwarden_disable_user_registration | lower }}
globalSettings__requireHttpsMetadata=false