MB_PASSWORD_COMPLEXITY={{ mb_password_complexity }}
MB_PASSWORD_LENGTH={{ mb_password_length }}
MB_JETTY_PORT={{ mb_jetty_port }}
MB_DB_TYPE={{ mb_db_type }}
MB_DB_PORT={{ mb_db_port }}
JAVA_TIMEZONE={{ java_timezone }}

MB_DB_DBNAME={{ mb_db_dbname }}
MB_DB_USER={{ mb_db_user }}
MB_DB_PASS={{ mb_db_pass }}
MB_DB_HOST={{ mb_db_host }}