export BPS_CLIENT_ID={{auth0_clientid}}
export BPS_CLIENT_SECRET={{auth0_clientsecret}}
export BPS_STATIC_PATH={{static_file_path}}
BPS_DATASOURCE={{db_url}}
BPS_DB_USER={{db_user}}
BPS_DB_PASSWORD={{db_password}}