export AVNI_INT_STATIC_PATH={{static_file_path}}
export AVNI_INT_DATASOURCE={{db_url}}
export AVNI_INT_DB_USER={{db_user}}
export AVNI_INT_DB_PASSWORD={{db_password}}
export AVNI_API_URL={{avni_api_url}}
export AVNI_API_USER={{avni_api_user}}
export AVNI_API_PASSWORD={{avni_api_password}}
export GOONJ_SF_USER_NAME={{goonj_sf_user}}
export GOONJ_SF_PASSWORD={{goonj_sf_password}}
export GOONJ_SF_CLIENT={{goonj_sf_client}}
export GOONJ_SF_CLIENT_SECRET={{goonj_sf_client_secret}}
export INT_SCHEDULE_CRON="0 0/5 * * * ?"