export AVNI_INT_STATIC_PATH={{static_file_path}}
export AVNI_INT_DATASOURCE={{db_url}}
export AVNI_INT_DB_USER={{db_user}}
export AVNI_INT_DB_PASSWORD={{db_password}}
export POWER_AVNI_API_URL={{avni_api_url}}
export POWER_AVNI_API_USER={{power_avni_api_user}}
export POWER_AVNI_API_PASSWORD={{power_avni_api_password}}
export POWER_EXOTEL_API_KEY={{power_exotel_api_key}}
export POWER_EXOTEL_API_TOKEN={{power_exotel_api_token}}
export POWER_EXOTEL_ACCOUNT_SID={{power_exotel_api_account_sid}}
export POWER_EXOTEL_SUBDOMAIN={{power_exotel_api_subdomain}}
export POWER_INT_SCHEDULE_CRON="{{power_schedule_cron}}"
export POWER_INT_SCHEDULE_CRON_FULL_ERROR="0 1 3 * * ?"
export AMRIT_SERVER_URL={{amrit_server_url}}
export AMRIT_API_USER={{amrit_server_user}}
export AMRIT_API_PASSWORD={{amrit_server_password}}
export AMRIT_AVNI_API_URL={{avni_api_url}}
export AMRIT_AVNI_API_USER={{amrit_avni_api_user}}
export AMRIT_AVNI_API_PASSWORD={{amrit_avni_api_password}}
export AMRIT_SCHEDULE_CRON="{{amrit_schedule_cron}}"
export AMRIT_SCHEDULE_CRON_FULL_ERROR="0 1 4 * * ?"
export AMRIT_APP_TASKS={{amrit_app_tasks}}
export BUGSNAG_API_KEY={{bugsnag_api_key}}
export BUGSNAG_RELEASE_STAGE={{bugsnag_stage}}
export HEALTHCHECK_PING_KEY={{healthcheck_ping_key}}
export LAHI_GLIFIC_GCP_PROJECT_ID={{lahi_glific_gcp_project_id}}
export LAHI_GLIFIC_GCP_DATASET_NAME={{lahi_glific_gcp_dataset_name}}
export LAHI_AVNI_API_USER={{lahi_avni_api_user}}
export LAHI_AVNI_API_PASSWORD={{lahi_avni_api_password}}
export LAHI_AVNI_API_URL={{lahi_avni_api_url}}
export LAHI_INT_SCHEDULE_CRON="{{lahi_schedule_cron}}"
export LAHI_INT_SCHEDULE_CRON_FULL_ERROR="-"
{% if lahi_glific_gcp_project_credentials_path is defined %}
export GLIFIC_GCP_CREDENTIALS_FILE=file:{{lahi_glific_gcp_project_credentials_path}}
{% endif %}