[Unit]
Description=Staging Keycloak Server
After=syslog.target network.target
Before=httpd.service

[Service]
Type=simple
# the specific user that our service will run as
User=keycloak
Group=keycloak
# another option for an even more restricted service is
# DynamicUser=yes
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/opt/keycloak-18.0.1/bin:/opt/jdk-18/bin
WorkingDirectory=/opt/keycloak-18.0.1/bin
ExecStart=/bin/bash -c 'cd /opt/keycloak-18.0.1/bin && ./kc.sh start >> /var/log/keycloak/keycloak.log 2>&1'
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target

### Reference commands
#.* Create user and group keycloak
#.* Change ownership of /opt/keycloak-18.0.1 dir to keycloak
#.* Give executable permission to keycloak for /opt/keycloak-18.0.1/bin folder files
#.* Store certs in /opt/keycloak-18.0.1/certs folder with keycloak as their owner
#.* Load service after create / update of service file
#sudo systemctl daemon-reload
#.* start service
#sudo systemctl start keycloak.service
#.* check status
#sudo systemctl status keycloak.service
#.* Enable your service on every reboot
#sudo systemctl enable keycloak.service